.gpt3__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    background: var(--gradient-bar);
    border-radius: 1rem;
}
.gpt3__cta-content p {
    color: #0E0E0E;
    font-family:var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;      
}
.gpt3__cta-content h3 {
    color: #000;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
}
.gpt3__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.gpt3__cta-btn button{
    border-radius: 40px;
    background: #000;  
    color: #FFF;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}